---
import { SITE_TITLE } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex items-center justify-center h-[60vh]">
    <h1 data-scramble class="text-4xl font-bold">{SITE_TITLE}</h1>
  </div>
</BaseLayout>
