---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Terms"
---

<BaseLayout pageTitle={pageTitle}>
  <h1 data-scramble class="text-3xl font-bold">{pageTitle}</h1>
  <div>
    <section>
        
    </section>
  </div>
</BaseLayout>
